<div class="container">
  <div class="row">
      <div class="col-md-offset-3 col-md-11">
          <h1 class="display-4" style="color: #CEF0D4; font-family: 'courier', cursive; font-size: 60px; font-weight: normal; line-height: 48px; margin-top:10px; margin-left:200px;  text-align: left; text-shadow: 1px 1px 2px black;"><strong>
          My PROJECTS List </strong></h1>
          <a class="btn btn-primary" routerLink="add" role="button">
          <i class="fas fa-plus-circle"></i> Add a Project</a>
          <br><br>
          <table class="table table-bordered table-striped table-hover">
              <!-- Header Row-->
              <tr>
                  <th class="text-center">Project Name</th>
                  <th class="text-center">Description</th>
                  <th class="text-center"></th>
                  <th class="text-center"></th>
                  <th class="text-center"></th>
              </tr>

              <!-- Repeatable Template Row -->
                  <tr *ngFor="let project of projects">
                      <td class="text-center">{{project.name}}</td>
                      <td class="text-center">{{project.description}}</td>

                      <td class="text-center" style="width:100px">
                      <a routerLink="edit/{{project._id}}" class="btn btn-primary">
                        <i class="fas fa-pencil-alt"></i> Edit</a>
                      </td>

                      <td class="text-center" style="width:150px">
                              <a routerLink="delete/{{project._id}}" (click)="onDeleteClick()"
                                  class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
                              </td>

                              <td class="text-center" style="width:160px">
                                  <a routerLink="details/{{project._id}}" class="btn btn-secondary">
                                    <i class="fas fa-info-circle"></i> View Details</a>
                                  </td>
                  </tr>
          </table>

      </div>
  </div>
</div>
