<app-base-page></app-base-page>
<!--
Name: Sidharth Choudhary
Student ID: 300990285
Date: 16 Feb, 2019
-->


  <head>
  <style>
  .top-left {
    position: relative;
    align:center;
    top: 2px;
    left: -10px;
    font-size:30px;
    font-family:Billabong;
  }
  .middle {
    position: absolute;
    top: 200px;
    left: 400px;
    font-size:30px;
    font-family:Billabong;

  }
  img {
    border-radius: 20px;
  }
  ul#menu li {
    display:inline;
  }
  </style>
  </head>


  <div class="container" style="width:100%">
       <h1 class="display-4" style="color: #CEF0D4; font-family: 'courier', cursive; font-size: 60px; font-weight: normal; line-height: 48px;margin-top:10px; margin: 10 10 0px; text-align: left; text-shadow: 1px 1px 2px black;"><strong> Services Offered by Sidharth</strong></h1>
        <br>

  <ul style="list-style-type:none; display:inline;">
    <li>
    <div style="float:right; margin-right:20px">
    <img src="assets/images/programming-general.jpeg" style="height:200px; width:300px"/>
    <div class="top-left" style="left:20px">
    General Programming
    </div>
  </div>
  </li>

   <li>
    <div>
    <img src="assets/images/android-icon.png" style="height:200px; width:200px;"/>
    <div class="top-left">
    Mobile Applications
    </div>
  </div>
  </li>

   <li>
    <div style=" float:right; margin-right:-40px">
    <img src="assets/images/api.png" style="height:200px; width:400px"/>
    <div class="top-left" style="left:90px">
    API Development
    </div>
  </div>
  </li>

   <li>
    <div >
    <img src="assets/images/web-services-.png" style="height:200px; width:200px"/>
    <div class="top-left">
    Web Development
  </div>
  </div>
  </li>
  </ul>

  <div class="middle">
    <img src="assets/images/programming.png" style="height:500px; width:450px;" />
    </div>


